page-fiche {
    .card-title{
        margin-top: 40px;
        font-size: 26px;
        text-align: center;
    }

    .card-stitle{
        margin-top: 10px;
        font-size: 18px;
        text-align: center;
    }
    .open{
        margin-top: 48px;
    }

    .toast_color{
        color: white;
    }
}
