page-home {
    h2{
        color: blue;
        font-size: 22px;
    }

    .images{
        width: 150px;
        height: 207px;
    }

    .card-title{
        margin-top: 40px;
        font-size: 18px;
        text-align: center;
    }

    .card-stitle{
        margin-top: 10px;
        font-size: 13px;
        text-align: center;
    }
    .open{
        margin-top: 48px;
    }
}

